@media(max-width:1023px){
    nav .navigation a{
        display:none;
    }
    nav .menu{
        display:flex;
    }
    
}


@media(max-width:800px){
    main .hero-section{
        grid-template-columns:repeat(1,1fr);
        justify-content:center;
    }
    main fieldset{
        width:100%;
    }
    main .skills fieldset{
        grid-template-columns:repeat(2,1fr);
    }
}


@media(max-width:650px){
    nav .sidebar{
        width:97%;
    }
    main .skills fieldset{
        grid-template-columns:repeat(1,1fr);
        height:100em;
    }
    .skills,.about{
        width:100%;
    }
    .education fieldset{
        flex-wrap: wrap;
    }
}